/*
 * Bandcamp - Compact Collection
 * Userstyle by pixeldesu
 * Part of the Visuals userstyle project
 * -------------------------------------
 * https://github.com/nightbug/visuals
 * -------------------------------------
 * URLs on the domain: bandcamp.com
 */

.collection-item-fav-track,
.collection-item-actions,
.collection-item-why,
.collected-by {
  display: none;
}

.collection-item-artist {
  margin-bottom: 5px;
}

.collection-item-title {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection-item-container {
  margin: 0 0 10px 20px;
}
